.bg-full {
  background-image: url(~assets/images/background.png);
}
.bg-banner {
  background-image: url(~assets/images/banner.png);
}
.bg-section {
  background-image: url(~assets/images/section_background.png);
}
// .bg-banner-mobile{
//   background-image: url(../images/banner_mobile.png);
// }
// .bg-block-mobile{
//   background-image: url(../images/section_background_mobile.png);
// }
.bg-teacher1{
  background-image: url(~assets/images/teacher1.gif);
  width: 522px;
  height: 738.5px;
}
.bg-teacher2{
  background-image: url(~assets/images/teacher2.gif);
  width: 522px;
  height: 738.5px;
}
.bg-teacher3{
  background-image: url(~assets/images/teacher3.gif);
  width: 522px;
  height: 738.5px;
}
.bg-teacher4{
  background-image: url(~assets/images/teacher4.gif);
  width: 522px;
  height: 738.5px;
}
.bg-cover{
  background-size: cover;
}
.bg-contain{
  background-size: contain;
}
.bg-top{
  background-position: top;
}
.bg-center{
  background-position: center;
}
.bg-no-repeat{
  background-repeat: no-repeat;
}